/* Reset default style */
* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --main-color: #ffb900;
  --line-clamp: 1;
}

body {

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: orange;
  /* display: flex; */
  /* justify-content: space-between; */
}

/* Navbar */

.navbar {
  height: 100vh;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.navbar a {
  color: #adb5bd;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #495057;
  color: white;
  border-color: #2e80ce;
  transform: translateY(-8px);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar i {
  font-size: 24px;
  margin-bottom: 5px;
}

.navbar .setting{
    font-size: 18px;
}

.navbar .nav-bottom {
    margin-top: calc(100vh - 430px - (66px * 3));
}

.navbar_items .nav_noti,.nav_mess{
  position: relative;
}

.navbar_items .badge{
  color: #fff;
  background: red;
  position: absolute;
  font-size: 12px;
  top:17px;
  right: 11px;
  border-radius: 5px;
  padding: 2px 4px;
  line-height: 1;
}


.navbar_items .nav_mess .badge{
  top:17px;
  right: 16px;
}




/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    height: auto;
    width: 100%;
    position: static;
    padding: 10px;
    justify-content: space-around;
  }

  .navbar a {
    margin-bottom: 0;
  }

  .notifications {
    width: 100%;
    position: static;
    margin-top: 20px;
  }
}

.header{
  /* display: none; */
}
/* Post blog */
.post {
  margin-bottom: 25px;
  padding: 30px 30px;
  padding-bottom: 35px;
  width: 1170px;
  max-width: 100%;
  background-color: #f3f3f3;
}

.post-header {
  margin-bottom: 20px;
  
}

.text-center {
  text-align: center !important;
}

.post-title {
  font-size: 26px;
  letter-spacing: 0.5px;
  transition: all 0.35s ease;
  color: #2e80ce;
}

.post-meta {
  margin-top: 10px;
}

.post-meta-detail {
  font-size: 14.5px;
  line-height: 24px;
  opacity: 0.8;
  display: inline-block;
}

.post-meta-devide {
  display: inline-block;
  font-size: 14.5px;
  line-height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
  user-select: none;
}

.post-content{
  margin: 6px 0px 10px;
}

.post-tags{
  margin-top: 15px;
}

.tag.badge{
  margin-left: 20px;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #2e80ce;
  color:#f3f3f3 ;
}

.post-items{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.card-border{
  border-radius: 10px;
}

.container{
  width: calc(100vw - 200px);
  align-items: center;
}