/* Reset default style */
* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --main-color: #ffb900;
  --line-clamp: 1;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  /* display: flex; */
  /* justify-content: space-between; */
}

/* Navbar */

.navbar {
  height: 100vh;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.navbar a {
  color: #adb5bd;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #495057;
  color: white;
  border-color: #2e80ce;
  transform: translateY(-8px);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar i {
  font-size: 24px;
  margin-bottom: 5px;
}

.navbar .setting{
    font-size: 18px;
}

.navbar .nav-bottom {
    margin-top: calc(100vh - 430px - (66px * 3));
}

.navbar_items .nav_noti,.nav_mess{
  position: relative;
}

.navbar_items .badge{
  color: #fff;
  background: red;
  position: absolute;
  font-size: 12px;
  top:17px;
  right: 11px;
  border-radius: 5px;
  padding: 2px 4px;
  line-height: 1;
}


.navbar_items .nav_mess .badge{
  top:17px;
  right: 16px;
}




/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    height: auto;
    width: 100%;
    position: static;
    padding: 10px;
    justify-content: space-around;
  }

  .navbar a {
    margin-bottom: 0;
  }

  .notifications {
    width: 100%;
    position: static;
    margin-top: 20px;
  }
}
